/* RESET */
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */
body{
    /* background-color: black; */
}

.container{
    display: inline-block;
}



.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}